@model List<Turnos>;
@{
    ViewData["Title"] = "Turnos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2 style="text-align: center; margin: 40px 0px;">Turnos Disponibles</h2>
    <form asp-controller="Turnos" asp-action="ReservarTurno" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DIA</th>
                    <th>HORA</th>
                    <th>RESERVAR</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Turnos t in Model)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.Dia</td>
                        <td>@t.Hora</td>
                        <td><button class="btn" type="submit" name="turnoId" value="@t.Id">Reservar</button></td>
                    </tr>
                }

            </tbody>
        </table>
    </form>
    @if (!string.IsNullOrEmpty(TempData["Mensaje"] as string))
    {
        <div class="alert alert-warning">@TempData["Mensaje"]</div>
    }
</body>
</html>


<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table thead th {
            background-color: #f2f2f2;
            color: #333;
            font-weight: bold;
            padding: 10px;
            text-align: left;
        }

        .table tbody td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        .table tbody tr:last-child td {
            border-bottom: none;
        }

        .table tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .table tbody tr:hover {
            background-color: #e6e6e6;
        }

</style>
